<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Find out how much to tip!</h1>
    <%= form_tag '/search_results' do %>
      <div class="form-group">
        <label for="service_id">Service</label>
        <%= select_tag :service_id, options_from_collection_for_select(Service.all, :id, :name), class: 'form-control js-example-basic-single' %>
      </div>
      <div class="form-group">
        <label for="amount_spent">Amount Spent (optional)</label>
        <input type="text" class="form-control" name="amount_spent" id="amount_spent" placeholder="$20">
      </div>
      <div class="form-group">
        <label for="num_items">Number of items (optional)</label>
        <input type="text" class="form-control" name="num_items" id="num_items" placeholder="3">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    <% end %>

  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();
});</script>

